body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .center-container {
    text-align: center;
    background-color: #ccc;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
  }
  
  .checkbox-container {
    font-size: 18px;
    border: none;
    padding: 0;
  }
  
  .left-align {
    text-align: left;
  }
  
  .blue-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  .green-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  #resultado {
    margin-top: 20px;
    font-weight: italic;
    color: rgb(0, 0, 0);   
  }
  