body {
    font-family: Arial, sans-serif;
    background-color: #dad9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #989595;
}

.list-button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.reset-button {
    background-color: rgb(90, 87, 87);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
